
@{
    ViewBag.Title = "HomePage";
}

<h2>My First Web</h2>

@* This is form 1 *@

   @* This is for the firstname *@
    <label for="fnameData" id="fnameLabel">First Name</label>
    <input type="text" id="fnameData" name="fnameData"/>
    @* This is for the lastname *@
    <label for="lnameData" id="lnameLabel">Last Name</label>
    <input id="lnameData" type="text" name="lnameData"/>
    @* This is for the age *@
    <label for="ageData" id="ageLabel">Age</label>
    <input id="ageData" type="text" name="ageData"/>
    @* This is for the submit button *@
    <button type="submit" id="submitData">Submit</button>

<button type="submit" id="submitData2">Submit2</button>

@* This is the jquery file *@
<script type="text/javascript" src="~/Scripts/Page Scripts/jquery-3.6.3.js"></script>
<script type="text/javascript" src="~/Scripts/Page Scripts/HomePageScript.js"></script>


